CSRF_TRUSTED_ORIGINS=https://harness-tag.pranisheba.com.bd
ALLOWED_HOSTS=harness-tag.pranisheba.com.bd
MONGO_URI=
MQTT_PORT=1885
MQTT_TOPIC="apS/Basestation/Data"
MQTT_USER="apsIoT"
MQTT_PASS="apsIoT25"
